<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.friendsystem.mapper.LikesMapper" >
  <resultMap id="BaseResultMap" type="com.friendsystem.pojo.Likes" >
    <id column="likeId" property="likeid" jdbcType="VARCHAR" />
    <result column="likeArticle" property="likearticle" jdbcType="VARCHAR" />
    <result column="likePeople" property="likepeople" jdbcType="VARCHAR" />
    <result column="likeCreatetime" property="likecreatetime" jdbcType="VARCHAR" />
    <result column="likeModifytime" property="likemodifytime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    likeId, likeArticle, likePeople, likeCreatetime, likeModifytime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.friendsystem.pojo.LikesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from likes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from likes
    where likeId = #{likeid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from likes
    where likeId = #{likeid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.friendsystem.pojo.LikesExample" >
    delete from likes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.friendsystem.pojo.Likes" >
    insert into likes (likeId, likeArticle, likePeople, 
      likeCreatetime, likeModifytime)
    values (#{likeid,jdbcType=VARCHAR}, #{likearticle,jdbcType=VARCHAR}, #{likepeople,jdbcType=VARCHAR}, 
      #{likecreatetime,jdbcType=VARCHAR}, #{likemodifytime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.friendsystem.pojo.Likes" >
    insert into likes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="likeid != null" >
        likeId,
      </if>
      <if test="likearticle != null" >
        likeArticle,
      </if>
      <if test="likepeople != null" >
        likePeople,
      </if>
      <if test="likecreatetime != null" >
        likeCreatetime,
      </if>
      <if test="likemodifytime != null" >
        likeModifytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="likeid != null" >
        #{likeid,jdbcType=VARCHAR},
      </if>
      <if test="likearticle != null" >
        #{likearticle,jdbcType=VARCHAR},
      </if>
      <if test="likepeople != null" >
        #{likepeople,jdbcType=VARCHAR},
      </if>
      <if test="likecreatetime != null" >
        #{likecreatetime,jdbcType=VARCHAR},
      </if>
      <if test="likemodifytime != null" >
        #{likemodifytime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.friendsystem.pojo.LikesExample" resultType="java.lang.Integer" >
    select count(*) from likes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update likes
    <set >
      <if test="record.likeid != null" >
        likeId = #{record.likeid,jdbcType=VARCHAR},
      </if>
      <if test="record.likearticle != null" >
        likeArticle = #{record.likearticle,jdbcType=VARCHAR},
      </if>
      <if test="record.likepeople != null" >
        likePeople = #{record.likepeople,jdbcType=VARCHAR},
      </if>
      <if test="record.likecreatetime != null" >
        likeCreatetime = #{record.likecreatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.likemodifytime != null" >
        likeModifytime = #{record.likemodifytime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update likes
    set likeId = #{record.likeid,jdbcType=VARCHAR},
      likeArticle = #{record.likearticle,jdbcType=VARCHAR},
      likePeople = #{record.likepeople,jdbcType=VARCHAR},
      likeCreatetime = #{record.likecreatetime,jdbcType=VARCHAR},
      likeModifytime = #{record.likemodifytime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.friendsystem.pojo.Likes" >
    update likes
    <set >
      <if test="likearticle != null" >
        likeArticle = #{likearticle,jdbcType=VARCHAR},
      </if>
      <if test="likepeople != null" >
        likePeople = #{likepeople,jdbcType=VARCHAR},
      </if>
      <if test="likecreatetime != null" >
        likeCreatetime = #{likecreatetime,jdbcType=VARCHAR},
      </if>
      <if test="likemodifytime != null" >
        likeModifytime = #{likemodifytime,jdbcType=VARCHAR},
      </if>
    </set>
    where likeId = #{likeid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.friendsystem.pojo.Likes" >
    update likes
    set likeArticle = #{likearticle,jdbcType=VARCHAR},
      likePeople = #{likepeople,jdbcType=VARCHAR},
      likeCreatetime = #{likecreatetime,jdbcType=VARCHAR},
      likeModifytime = #{likemodifytime,jdbcType=VARCHAR}
    where likeId = #{likeid,jdbcType=VARCHAR}
  </update>
</mapper>